body {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Lora', serif;
}

button {
    font-family: 'Lora', serif;
    font-size: 16px;
}